/* Color Theme Swatches in Hex */
.my-color-1 { color: #072026; }
.my-bg-color-1 { background-color: #072026; }
.my-color-2 { color: #103B40; }
.my-bg-color-2 { background-color: #103B40; }
.my-color-3 { color: #2C6C73; }
.my-bg-color-3 { background-color: #2C6C73; }
.my-color-4 { color: #6ACED9; }
.my-bg-color-4 { background-color: #6ACED9; }
.my-color-5 { color: #1BA698; }
.my-bg-color-5 { background-color: #1BA698; }