/*Fontes*/


/*Normal*/
.banner{
    height: 50vh;
}
.bg-black{
    background-color: #000000 ;
    color: #ffffff;
}

/*Mobile*/
@media (max-width: 599px) {  }


/*Mobile and tablets*/
@media (min-width: 600px) {  }

@media (min-width: 900px) {  }

/*HD*/
@media (min-width: 1200px) {  }


/*Full HD*/
@media (min-width: 1800px) {  }